<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Engineering Science Topics</title>
    <link rel="stylesheet" href="/select-course.css">
</head>
<body>
<div class="container">
    <h1>Select Topics for Engineering Science</h1>
    <ul>
        <li><button class="button" onclick="location.href='/topics/fluid-mechanics'">Fluid Mechanics</button></li>
        <li><button class="button" onclick="location.href='/topics/engineering-mechanics'">Engineering Mechanics</button></li>
        <li><button class="button" onclick="location.href='/topics/strength-of-materials'">Strength of Materials</button></li>
        <li><button class="button" onclick="location.href='/topics/engineering-materials'">Engineering Materials</button></li>
        <li><button class="button" onclick="location.href='/topics/EE-computer-fundamentals-and-programming'">Computer Fundamentals and Programming</button></li>
        <li><button class="button" onclick="location.href='/topics/engineering-economy'">Engineering Economy</button></li>
        <li><button class="button" onclick="location.href='/topics/thermodynamics'">Thermodynamics</button></li>
        <li><button class="button" onclick="location.href='/topics/EE-chemistry'">Chemistry</button></li>
    </ul>
    <a href="/select-subject/BSEE" class="button back-button-red">Back to Subject Selection</a>
</div>
</body>
</html>
