<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Engineering Math Topics</title>
    <link rel="stylesheet" href="/select-course.css">
</head>
<body>
<div class="container">
    <h1>Select Topics for Engineering Mathematics</h1>
    <ul>
        <li><button class="button" onclick="location.href='/topics/algebra'">Algebra</button></li>
        <li><button class="button" onclick="location.href='/topics/differential-calculus'">Differential Calculus</button></li>
        <li><button class="button" onclick="location.href='/topics/integral-calculus'">Integral Calculus</button></li>
        <li><button class="button" onclick="location.href='/topics/plane-and-solid-geometry'">Plane and Solid Geometry</button></li>
    </ul>
    <a href="/select-subject/BSCPE" class="button back-button-red">Back to Subject Selection</a>
</div>
</body>
</html>
