<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Professional Subjects Topics</title>
    <link rel="stylesheet" href="/select-course.css">
</head>
<body>
<div class="container">
    <h1>Select Topics for Professional Subjects</h1>
    <ul>
        <li><button class="button" onclick="location.href='/select-topic-BSCPE/Professional%20Subjects/logic-circuits'">Logic Circuit</button></li>
        <li><button class="button" onclick="location.href='/select-topic-BSCPE/Professional%20Subjects/computer-fundamentals-and-programming'">Computer Fundamentals and Programming</button></li>
        <li><button class="button" onclick="location.href='/select-topic-BSCPE/Professional%20Subjects/computer-hardware-fundamentals'">Computer Hardware Fundamentals</button></li>
        <li><button class="button" onclick="location.href='/select-topic-BSCPE/Professional%20Subjects/engineering-ethics-and-laws'">Engineering Ethics and Laws</button></li>
        <li><button class="button" onclick="location.href='/select-topic-BSCPE/Professional%20Subjects/digital-signal-processing'">Digital Signal Processing</button></li>

        
    </ul>
    <a href="/select-subject/BSCPE" class="button back-button-red">Back to Subject Selection</a>
</div>
</body>
</html>
