<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professional Subjects for BSEE</title>
    <link rel="stylesheet" href="/select-subject.css">
</head>
<body>
<div class="container">
    <h1>Professional Subjects for BSEE</h1>
    <ul>
        <li><button class="button" onclick="location.href='/select-topic-BSEE/Professional%20Subjects/electronic'">Electronic Circuits and Devices</button></li>
        <li><button class="button" onclick="location.href='/select-topic-BSEE/Professional%20Subjects/principle'">Principle of Communication</button></li>
        <li><button class="button" onclick="location.href='/select-topic-BSEE/Professional%20Subjects/power-electronics'">Power Electronics</button></li>
        <li><button class="button" onclick="location.href='/select-topic-BSEE/Professional%20Subjects/power-plant-engineering'">Power Plant Engineering</button></li>
        <li><button class="button" onclick="location.href='/select-topic-BSEE/Professional%20Subjects/instrumentation-control-and-measurement'">Instrumentation, Control and Measurement</button></li>
        <li><button class="button" onclick="location.href='/select-topic-BSEE/Professional%20Subjects/control-system-analysis'">Control System Analysis</button></li>
        <li><button class="button" onclick="location.href='/select-topic-BSEE/Professional%20Subjects/safety'">Safety</button></li>
        <li><button class="button" onclick="location.href='/select-topic-BSEE/Professional%20Subjects/circuits'">Circuits</button></li>
    </ul>
    <a href="/select-subject-BSEE" class="button back-button-red">Back to Subjects</a>
</div>
</body>
</html>
