<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Question Type for Plane and Solid Geometry</title>
    <link rel="stylesheet" href="/select-question-type.css">
</head>
<body>
<div class="container">
    <h1>Select Question Type for plane and Solid Geometry</h1>
    <ul>
        <li><a href="/topics/plane-and-solid-geometry/multiple-choice">Multiple Choice</a></li>
        <li><a href="/topics/plane-and-solid-geometry/computational">Computational</a></li>
    </ul>
    <a href="/select-topic/BSCPE/Engineering%20Math" class="button back-button-red">Back to select topic</a>
</div>
</body>
</html>
