<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Question Type for Control System Analysis</title>
    <link rel="stylesheet" href="/select-question-type.css">
</head>
<body>
<div class="container">
    <h1>Select Question Type for Control System Analysis</h1>
    <ul>
        <li><a href="/topics/control-system-analysis/multiple-choice">Multiple Choice</a></li>
    </ul>
    <a href="/select-topic-BSEE/Professional%20Subjects" class="button back-button-red">Back to select topic</a>
</div>
</body>
</html>
