<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Course</title>
    <link rel="stylesheet" href="/select-course.css">
</head>
<body>
<div class="container">
    <h1>Select a Course</h1>
    <ul>
        <li><button class="button" onclick="location.href='/select-subject/BSCPE'">BSCPE</button></li>
        <li><button class="button" onclick="location.href='/select-subject/BSEE'">BSEE</button></li>
    </ul>
    <a href="/homepage" class="button back-button-red">Back to Dashboard</a>
</div>
</body>
</html>
