<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Topics for BSCPE</title>
    <link rel="stylesheet" href="/select-subject.css">
</head>
<body>
<div class="container">
    <h1>Select a Subject for BSCPE</h1>
    <ul>
        <li><button class="button" onclick="location.href='/select-topic-BSCPE/math'">Engineering Math</button></li>
        <li><button class="button" onclick="location.href='/select-topic-BSCPE/science'">Engineering Science</button></li>
        <li><button class="button" onclick="location.href='/select-topic-BSCPE/profsub'">Professional Subjects</button></li>
    </ul>
    <a href="/topic-course" class="button back-button-red">Back to Courses</a>
</div>
</body>
</html>
