body {
    font-family: 'Arial', sans-serif;
    background: url('AIRA 1.png') no-repeat center center fixed, #0f51328a; /* Semi-transparent green overlay */
    background-size: contain;
    background-blend-mode: overlay;
    color: #0F5132; /* Text color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Form Styles */
.form-container {
    background: rgba(255, 255, 255, 0.8); /* White background with transparency */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#login, #register {
    display: none; /* Both forms hidden by default */
}

.form-container h2 {
    color: #0F5132; /* Heading color */
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    width: 100%; /* Make the button the same width as the input fields */
    background-color: #0F5132; /* Button color */
    color: white; /* Text color for button */
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0f513265; /* Hover effect */
}

#installBtn {
    position: fixed; /* Fixed position */
    top: 10px;       /* From the top */
    right: 10px;     /* From the right */
    padding: 10px 20px; /* Padding */
    font-size: 16px; /* Text size */
    background-color: #333; /* Button background color */
    color: white;    /* Text color */
    border: none;    /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor for button */
    transition: background-color 0.3s; /* Smooth transition */
    display: block; /* Display block */
    z-index: 1000; /* Ensure it is above other elements */
}

#installBtn:hover {
    background-color: #555; /* Hover background color */
}

.alert {
    padding: 10px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

.alert-success {
    background-color: #4CAF50; /* Green */
}

.alert-danger {
    background-color: #f44336; /* Red */
}
