body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0f51328a;
  }

.container {
    text-align: center;
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
    max-width: 600px;
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

a {
    display: inline-block;
    padding: 10px 20px;
    background: #2b5532;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #2b5532ad;
}

a.back-button-red {
    background: #d9534f;
    color: white;
}

a.back-button-red:hover {
    background: #c9302c;
}

/* Add your other CSS here */

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

